
@{
    ViewBag.Title = "Administrador";
    Layout = "~/Views/Shared/_NecesidadesLayout.cshtml";
}

    <div class="text-center mt.5" id="margin-top-header">
            <h1>Gestion de Denuncias</h1>
    </div>
<div class="col-md-12">
    <div class="col-md-4 mt-4 mb-3 float-left">

        <div class="card" id="card">
            <img class="mx-auto d-block  ml-5 mt- mb-2" id="imgperfil-denuncia" src="~/Content/Img/necesitamosInsumos.jpg" />
        </div>
    </div>

    <div class="col-md-12 mt-3" id="margin-top-header">
        <div class="card" id="card">
            <div class="col-md-12">

                <div class="card-body mt-2">
                    <h2 class="text-center col-md-12">Estamos pidiendo pocas cosas</h2>

                    <div class="input-group mb-3 text-center">

                        <div class="col-md-6 text-center">
                            <b>Usuario</b>
                            <div class="col-md-12 text-center">
                                <p>Turco Mohamed</p>
                            </div>
                        </div>

                        <div class="col-md-6 text-center">
                            <b>Descripcion</b>
                            <div class="col-md-12 text-center">
                                <p> Estamos pidiendo poco asi que por favor ayudenme</p>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <b>Motivo de denuncia:</b>
                            <div class="col-md-12 text-center">
                                <h4 class="text-danger ">Indebida</h4>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <b>Fecha de creacion: </b>
                            <div class="col-md-12 text-center">
                                <p><span class="fa fa-calendar"></span> 08/05/2020</p>
                            </div>

                        </div>

                        <div class="col-md-6">
                            <b>Comentario acerca de la denuncia: </b>
                            <div class="col-md-12 text-center">
                                <p><i class="fa fa-user-circle" aria-hidden="true"></i> Se sarpo este muchacho, dice que pide poco, pidio hasta pelo</p>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <b>Detalles de la necesidad</b><br>

                            <div class="form-row text-center">
                                <div class="col-12">
                                    <button class="btn btn-warning text-light float-auto">Detalles</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 btn-group mb-3">
                    <button type="button" class="btn btn-danger">Desestimar</button>
                    <button type="button" class="btn btn-success ml-2">Aceptar</button>
                </div>
            </div>
        </div>
    </div>

</div>


