@model Entidades.Views.VMPublicacion
@{
    ViewBag.Title = "IndexLogueado";
    Layout = "~/Views/Shared/_NecesidadesLayout.cshtml";
}


<div class="container">
    <div class="card espace">
        <div class="card-body text-center" id="colour-card">
            Solicitemos ayuda a la gente @Html.ActionLink("Crear una Necesidad", "Crear", "Necesidades", null, new { @class = "btn btn-success text-light ml-3" })
        </div>
    </div>

</div>

@Html.Partial("~/Views/Shared/PublicacionDeLaNecesidad.cshtml", Model)

