
@model Entidades.Views.VMNecesidadesDonacionesInsumos
@{
    ViewBag.Title = "Donar";
    Layout = "~/Views/Shared/_NecesidadesLayout.cshtml";
}

@using (Html.BeginForm("Donar", "DonacionInsumos", FormMethod.Post, new { @class = "login100-form validate-form p-b-33 p-t-5" }))
{
    <input type="hidden" name="IdNecesidadDonacionInsumo" value="@Model.IdNecesidadDonacionInsumo" />

    <div>
        <center>
            <b>Cantidad a donar:</b>
            <div class="wrap-input100 validate-input">
                <input type="number" name="Cantidad" class="btn btn-primary ml-2" min="0" />
            </div><br />
            <button type="submit" class="btn btn-primary ml-2">DONAR</button>
        </center>
    </div>
}