@model List<Entidades.NecesidadesDonacionesInsumos>
@{
    ViewBag.Title = "Donar";
    Layout = "~/Views/Shared/_NecesidadesLayout.cshtml";
}



@using (Html.BeginForm("DonacionInsumos", "Donar", FormMethod.Get, new { @class = "login100-form validate-form p-b-33 p-t-5" }))
{

    foreach (var item in Model)
    {
        <center><h2>Donación de @item.Nombre</h2></center><br><br><br>
        <table class="table">
            <tr>
                <th scope="col">@item.Nombre</th>
                <th scope="col">@item.Cantidad</th>
            </tr>
        </table>
            }
            }
