@model List<Entidades.Necesidades>

@{
    ViewBag.Title = "MisNecesidades";
    Layout = "~/Views/Shared/_NecesidadesLayout.cshtml";
}

@if (Model == null)
{
    <h1> No hay necesidades cargadas </h1>
}
else
{
    @Html.Partial("~/Views/Usuario/PublicacionDeLaNecesidad.cshtml", Model)
}